<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
<div class="container">
		<nav>
			<ul>
				<li><a href="#" class="logo">
					<img src="static/logo1.jpg" alt="">
					<span class="nav-item">Dashboard</span>
				</a></li>
				</ul>
				<div class="navi">
				  <ul>
				<li><a href="{{ url_for('Dashboard') }}">
					<ion-icon name="home"></ion-icon>
					<span class="nav-item">Home</span>
				</a></li>
				<li><a href="{{ url_for('addItem') }}">
					<span class="icon"><ion-icon name="cart"></ion-icon></span>
					<span class="nav-item">Add Items</span>
				</a></li>
				<li><a href="{{ url_for('purchase_history') }}">
					<span class="icon"><ion-icon name="newspaper"></ion-icon></span>
					<span class="nav-item">Purchase History</span>
				</a></li>
				<li><a href="{{ url_for('sell_history') }}">
					<span class="icon"><ion-icon name="clipboard"></ion-icon></span>
					<span class="nav-item">Sale History</span>
				</a></li>
				<li><a href="{{ url_for('logout') }}">
					<span class="icon"><ion-icon name="exit"></ion-icon></span>
					<span class="nav-item">Logout</span>
				</a></li>
			</ul>
					</div>
		</nav>
		</div>


	{% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}


{% block content %}
<section class="main">
    <h1>Add New Item Details</h1>
    <div class="card">
        <table class="table">
            <tr class="sp">
                <th class="th">ITEM NAME</th>
                <th class="th">ADD</th>
                <th class="th">DELETE</th>
            </tr>
            <tr class="sp">
                <td class="th">
                    <form action='' method='post'>
                        <input type="text" name="item_name" required class="input">
                    </form>
                </td>
                <td class="th">
                    <form action="" method="post">
                        <button class="action-button td" type="submit">Add</button>
                    </form>
                </td>
                <td class="th">
                    <form action="" method="post">
                        <!-- Change datas[0][0] to appropriate index -->
                        <button class="action-button td" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</section>
{% endblock %}
   <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>
</html>